*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f4f4;
  color: black;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #313131;
}

#header-title {
  font-size: 3rem;
}

select {
  text-align: start;
  font-size: 1rem;
  height: 2rem;
  color: #313131;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  background: none;
  transition: 0.4s ease;
}

select:hover {
  background-color: #313131;
  color: white;
}

button {
  color: #313131;
  font-size: 1rem;
  height: 2rem;
  padding: 0 15px;
  border-radius: 15px;
  border: 1px solid black;
  background: none;
  cursor: pointer;
  transition: 0.4s ease;
}

button:hover {
  background-color: #313131;
  color: white;
}

#book-title {
  font-size: 2.5rem;
}

#chapter-title {
  font-size: 1.5rem;
  color: #313131;
}

#chapter {
  padding: 40px;
}

#chapter .verse {
  padding-top: 10px;
  font-size: 1.25rem;
  display: flex;
  cursor: pointer;
}

#chapter .verse:hover {
  background-color: #f4f4f4;
  border-radius: 5px;
}

#chapter .verse span {
  padding-right: 5px;
  font-size: 1rem;
  color: gray;
}

#main-container {
  margin: 40px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #313131;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

#book-chapter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-top: 60px;
}
